.bg-g {
  background: #3bb77e !important;
}

.text-org {
  color: #fdc040 !important;
}

.text-g {
  color: #3bb77e !important;
}

.hd {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 20px;
}

.transition {
  transition: all 0.3s ease-in-out;
}

.ml-auto {
  margin-left: auto;
}
